.menu {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  gap: 20px;
}

.search {
  display: flex;
  align-items: center;
  gap: 2px;
}

.searchInput {
  border-radius: 15px;
  border: 1px solid black;
  padding: 5px;
  width: 150px;
}

.searchInput:focus {
  outline: none;
}

.searchButton {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 80%;
  margin-top: 10px;
}

.button {
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  transition: text-decoration 0.3s;
  padding: 2px 7px;
}

.selected {
  background: rgb(243, 239, 239);
  border-radius: 20px;
}

.button:hover {
  background: rgb(243, 239, 239);
  border-radius: 20px;
}

.dropdownContainer {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu {
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 0;
  }

  .menuContent {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    width: 70%;
  }

  .searchInput {
    border: 1px solid black;
    border-radius: 20px;
    width: 150px;
    flex-shrink: 1;
    padding: 8px 0;
  }

   .buttonContainer {
    display: none;
  }

  .dropdownContainer {
    display: flex;
  }

  .dropdown {
    border: 1px solid black;
    border-radius: 20px;
    width: 150px;
    flex-shrink: 1;
    color: black;
  }
}

@media screen and (max-width: 500px) {
  .menuContent {
    width: 90%;
  }
}

@media screen and (min-width: 769px) and (max-width: 907px) {
  .menu {
    margin-left: 15px;
  }
}