.menu {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.dropdownContainer {
  display: none;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 150px;
  margin-left: 10px;
}

.button {
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  transition: text-decoration 0.3s;
  padding: 2px 7px;
}

.selected {
  background: rgb(243, 239, 239);
  border-radius: 20px;
}

.button:hover {
  background: rgb(243, 239, 239);
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .menu {
    margin-left: 0;
  }

  .buttonContainer {
    display: none;
  }

  .dropdownContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .dropdown {
    border: 1px solid black;
    border-radius: 5px;
    flex-shrink: 1;
    color: black;
    width: 275px;
  }
}