.cart {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.cartItems {
  display: flex;
  flex-direction: column;
}

.checkout {
  display: flex;
  gap: 25px;
  margin-top: 25px;
  justify-content: flex-end;
  align-items: center;
}

.checkoutButton {
  background-color: rgb(128, 0, 58);
  color: white;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px;
  font-family: arial;
}

.checkoutButton:hover {
  background-color: #f7af1d;
}

.fullCart {
  margin-top: 10px;
  width: 50%;
  min-height: 200px;
}

.emptyCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 200px;
}

.continueShopping:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px){
  .fullCart, .emptyCart {
    width: 80%;
  }
}