.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  flex-grow: 1;
  flex-shrink: 1;
}

.quantityUpdater {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.quantity {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 2px 5px;
  font-size: 15px;
}

.checkout {
  display: flex;
  gap: 7px;
  align-items: center;
}


.removeButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  padding: 2px 5px;
  font-size: 15px;
}

.addButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  padding: 2px 5px;
  font-size: 15px;
}