.products {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0 10px 0 25px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 230px;
  height: 350px;
  border: 1px solid #9e9e9e;
  padding: 15px;
}

.productImage {
  width: 125px;
  height: 125px;
  margin-bottom: 10px;
}

.buyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.prices {
  display: flex;
  gap: 10px;
}

.strikedPrice {
  text-decoration: line-through;
}

.addToCart {
  background-color: rgb(128, 0, 58);
  border-radius: 3px;
  border: none;
  padding: 7px 10px;
  cursor: pointer;
  color: white;
  width: 90%;
  transition: background-color 0.3s ease;
}

.addToCart:hover {
  background-color: #f7af1d;
}

.openModalButton {
  border: none;
  background: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .products {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
  }
}