.products {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0 10px 0 25px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 275px;
  height: 350px;
  border: 1px solid #9e9e9e;
  gap: 20px;
  padding: 20px;
}

.productImage {
  width: 125px;
  height: 125px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.prices {
  display: flex;
  gap: 10px;
}

.buyContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.strikedPrice {
  text-decoration: line-through;
}

.addToCart {
  background-color: rgb(128, 0, 58);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addToCart:hover {
  background-color: #f7af1d;
}

.openModalButton {
  border: none;
  background: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .products {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
  }
}