.search {
  display: flex;
  align-items: center;
  gap: 2px;
  border-radius: 3px;
  border: 1px solid black;
  padding: 7px 10px;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 215px;
  background: none;
}

.searchInput:focus {
  outline: none;
}

.searchInput::placeholder {
  font-size: 14px;
  color: black;
}

.searchButton {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 15px;
}

.mobileSearch {
  display: flex;
  align-items: center;
  gap: 2px;
  border-radius: 3px;
  border: 1px solid black;
  padding: 10px;
  margin-top: 20px;
  background-color: white;
}

.mobileSearchInput {
  border: none;
  width: 100%;
  background: none;
}

.mobileSearchInput:focus {
  outline: none;
}

.mobileSearchInput::placeholder {
  font-size: 14px;
  color: black;
}

.mobileSearchButton {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 15px;
}