.topContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 45px 30px;
}

.storeName {
  font-size: 50px;
}

.links {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.leftLinks {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 35px;
}

.link {
  transition: color 0.3s ease;
}

.link:hover {
  color: rgb(128, 0, 58);
}

.cartLink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.linkIcon {
  width: 25px;
  height: 25px;
}

.search {
  display: flex;
  align-items: center;
  gap: 2px;
  border-radius: 3px;
  border: 1px solid black;
  padding: 7px 10px;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 215px;
  background: none;
}

.searchInput:focus {
  outline: none;
}

.searchInput::placeholder {
  font-size: 14px;
  color: black;
}

.searchButton {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 15px;
}

@media (max-width: 600px) {
  .desktopNav {
    display: none;
  }
}