.nav {
  position: fixed;
  top: 0;
  z-index: 3;
  background: white;
  box-shadow: 0px 0px 8px 6px rgba(65, 62, 62, 0.1);
  width: 100vw;
}

.promo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background: black;
  height: 35px;
}